In [1]:
from datetime import datetime, timedelta
import plotly.graph_objects as go
import plotly.express as px
import numpy as np
import pandas as pd
import alpaca_trade_api as api
import yaml

In [2]:
# Read config
with open('config.yaml', 'r') as file:
    config = yaml.safe_load(file)

In [3]:
# Create Alpaca client
alpaca = api.REST(config['api-key'], config['api-secret'])

In [4]:
year = 2023
month = 6
day = 1
hour = 12

start_minute = 0
end_minute = 30
total_minutes = end_minute - start_minute
start = f'{year:02}-{month:02}-{day:02}T{hour:02}:{start_minute:02}:00Z'

# trades data fetches one minute less than bars, we have to specify one minute more for trades
end_open = f'{year:02}-{month:02}-{day:02}T{hour:02}:{end_minute:02}:00Z'
end_close = f'{year:02}-{month:02}-{day:02}T{hour:02}:{end_minute + 1:02}:00Z'

tick_data = alpaca.get_trades('AAPL', start=start, end=end_close).df
minute_data = alpaca.get_bars('AAPL', timeframe="1Min", start=start, end=end_open).df

In [5]:
tick_data

,conditions,id,price,size,exchange,tape
timestamp,,,,,,
2023-06-01 12:00:00.023700883+00:00,"[@, T, I]",1,177.7600,1,D,C
2023-06-01 12:00:00.033288239+00:00,"[@, T]",2,177.8403,2273,D,C
2023-06-01 12:00:00.039942148+00:00,"[@, T]",3,177.8111,200,D,C
2023-06-01 12:00:00.047837206+00:00,"[@, T]",4,177.8400,200,D,C
2023-06-01 12:00:00.048880992+00:00,"[@, T, I]",5,177.8991,30,D,C
...,...,...,...,...,...,...
2023-06-01 12:30:55.011554743+00:00,"[@, T, I]",1389,177.7150,1,D,C
2023-06-01 12:30:59.799966363+00:00,"[@, F, T, I]",2287,177.7900,2,P,C
2023-06-01 12:30:59.799966461+00:00,"[@, F, T, I]",2288,177.8000,98,P,C
2023-06-01 12:30:59.951252087+00:00,"[@, F, T, I]",1183,177.7900,5,K,C
2023-06-01 12:30:59.951260329+00:00,"[@, F, T, I]",1184,177.8000,95,K,C

In [6]:
aggregated_minute_data = pd.DataFrame(
    columns=['close', 'high', 'low', 'trade_count', 'open', 'volume'],
    index=pd.date_range(start=start, end=end_open,freq='1min'))

for i in range(total_minutes + 1):
    
    minute_start = f'{year:02}-{month:02}-{day:02}T{hour:02}:{start_minute + i:02}:00Z'
    minute_end = f'{year:02}-{month:02}-{day:02}T{hour:02}:{start_minute + i + 1:02}:00Z'

    # all data past the starting minute
    data_after_start = tick_data[tick_data.index >= minute_start]
    
    # all data past the starting minute and before the ending minute
    data = data_after_start[data_after_start.index < minute_end]

    aggregated_row = {
        'low': data['price'].min(),
        'high': data['price'].max(),
        'open': data['price'].iloc[0],
        'close': data['price'].iloc[-1],
        'volume': data['size'].sum(),
        'trade_count': data.shape[0]
    }

    aggregated_minute_data.loc[minute_start] = aggregated_row

In [7]:
real = minute_data.drop(columns=['vwap'])
real

,close,high,low,trade_count,open,volume
timestamp,,,,,,
2023-06-01 12:00:00+00:00,177.8000,178.1800,177.6900,527,177.8403,54884
2023-06-01 12:01:00+00:00,177.7900,177.8800,177.0600,1103,177.7600,11915
2023-06-01 12:02:00+00:00,177.4900,177.8400,177.4900,400,177.8300,3651
2023-06-01 12:03:00+00:00,177.8300,177.8600,177.8300,85,177.8600,8902
2023-06-01 12:04:00+00:00,177.8200,177.8500,177.8200,46,177.8300,3377
2023-06-01 12:05:00+00:00,177.8100,177.8100,177.8000,35,177.8000,4988
2023-06-01 12:06:00+00:00,177.8200,177.8200,177.8000,27,177.8000,948
2023-06-01 12:07:00+00:00,177.8000,177.8000,177.7998,19,177.7998,1111
2023-06-01 12:08:00+00:00,177.8194,177.8200,177.7600,30,177.7620,2837
2023-06-01 12:09:00+00:00,177.7000,177.7700,177.7000,60,177.7700,2138
2023-06-01 12:10:00+00:00,177.7000,177.7200,177.7000,61,177.7200,1891
2023-06-01 12:11:00+00:00,177.6800,177.6800,177.6600,35,177.6600,715
2023-06-01 12:12:00+00:00,177.7300,177.7300,177.7300,20,177.7300,772
2023-06-01 12:13:00+00:00,177.7000,177.7500,177.7000,30,177.7000,896
2023-06-01 12:14:00+00:00,177.7000,177.7000,177.7000,22,177.7000,1249
2023-06-01 12:15:00+00:00,177.6000,177.6500,177.5700,100,177.6500,6796
2023-06-01 12:16:00+00:00,177.6200,177.6200,177.5000,166,177.5500,10555
2023-06-01 12:17:00+00:00,177.4600,177.4800,177.4100,96,177.4800,4212
2023-06-01 12:19:00+00:00,177.5700,177.5700,177.5000,54,177.5700,5847
2023-06-01 12:20:00+00:00,177.5400,177.5400,177.5000,61,177.5300,1353
2023-06-01 12:22:00+00:00,177.5700,177.5800,177.5700,58,177.5700,2143
2023-06-01 12:23:00+00:00,177.5807,177.6400,177.5800,41,177.5800,1367
2023-06-01 12:24:00+00:00,177.6500,177.6500,177.6300,68,177.6400,2538
2023-06-01 12:25:00+00:00,177.7000,177.7100,177.7000,39,177.7000,3297
2023-06-01 12:26:00+00:00,177.7300,177.7600,177.7300,23,177.7600,15219
2023-06-01 12:27:00+00:00,177.7100,177.7599,177.7100,24,177.7599,380
2023-06-01 12:28:00+00:00,177.6600,177.7000,177.6600,41,177.7000,1769
2023-06-01 12:29:00+00:00,177.5800,177.7000,177.5800,48,177.7000,2640
2023-06-01 12:30:00+00:00,177.8000,177.8000,177.7000,65,177.7000,3203

In [8]:
aggr = aggregated_minute_data
aggr

,close,high,low,trade_count,open,volume
2023-06-01 12:00:00+00:00,177.8,178.18,177.25,527.0,177.76,54884.0
2023-06-01 12:01:00+00:00,177.49,179.43,177.01,1103.0,177.97,11915.0
2023-06-01 12:02:00+00:00,177.68,178.0,177.01,400.0,177.25,3651.0
2023-06-01 12:03:00+00:00,177.83,177.925,177.8,85.0,177.825,8902.0
2023-06-01 12:04:00+00:00,177.81,177.85,177.8,46.0,177.82,3377.0
2023-06-01 12:05:00+00:00,177.81,177.82,177.25,35.0,177.8,4988.0
2023-06-01 12:06:00+00:00,177.79,177.82,177.76,27.0,177.8,948.0
2023-06-01 12:07:00+00:00,177.76,177.8,177.76,19.0,177.8,1111.0
2023-06-01 12:08:00+00:00,177.8194,177.82,177.76,30.0,177.76,2837.0
2023-06-01 12:09:00+00:00,177.69,177.82,177.69,60.0,177.82,2138.0
2023-06-01 12:10:00+00:00,177.65,177.74,177.65,61.0,177.66,1891.0
2023-06-01 12:11:00+00:00,177.7,177.73,177.65,35.0,177.65,715.0
2023-06-01 12:12:00+00:00,177.735,177.735,177.7,20.0,177.73,772.0
2023-06-01 12:13:00+00:00,177.69,177.77,177.68,30.0,177.72,896.0
2023-06-01 12:14:00+00:00,177.8,177.8,177.675,22.0,177.7,1249.0
2023-06-01 12:15:00+00:00,177.6,177.8,177.55,100.0,177.73,6796.0
2023-06-01 12:16:00+00:00,177.515,177.64,177.41,166.0,177.58,10555.0
2023-06-01 12:17:00+00:00,177.46,177.57,177.41,96.0,177.515,4212.0
2023-06-01 12:18:00+00:00,177.53,177.57,177.25,54.0,177.46,1323.0
2023-06-01 12:19:00+00:00,177.6,177.6,177.4915,54.0,177.57,5847.0
2023-06-01 12:20:00+00:00,177.54,177.6285,177.5,61.0,177.595,1353.0
2023-06-01 12:21:00+00:00,177.5785,177.62,177.54,33.0,177.54,742.0
2023-06-01 12:22:00+00:00,177.61,177.64,177.52,58.0,177.55,2143.0
2023-06-01 12:23:00+00:00,177.62,177.64,177.5601,41.0,177.61,1367.0
2023-06-01 12:24:00+00:00,177.675,177.7,177.605,68.0,177.61,2538.0
2023-06-01 12:25:00+00:00,177.76,177.79,177.67,39.0,177.7,3297.0
2023-06-01 12:26:00+00:00,177.73,177.76,177.25,23.0,177.76,15219.0
2023-06-01 12:27:00+00:00,177.71,177.76,177.71,24.0,177.72,380.0
2023-06-01 12:28:00+00:00,177.68,177.71,177.25,41.0,177.705,1769.0
2023-06-01 12:29:00+00:00,177.635,177.71,177.58,48.0,177.675,2640.0
2023-06-01 12:30:00+00:00,177.8,177.83,177.6015,65.0,177.71,3203.0