In [1]:
# Imports

# Plotly imports
import plotly.graph_objects as go
import plotly.express as px
import numpy as np
import pandas as pd

# Importing the api and instantiating the rest client according to our keys
import alpaca_trade_api as api

# Yaml
import yaml

In [2]:
# Read config
with open('config.yaml', 'r') as file:
    config = yaml.safe_load(file)

In [3]:
# Create Alpaca client
alpaca = api.REST(config['api-key'], config['api-secret'])

In [6]:
df = alpaca.get_trades('AAPL', start='2023-06-01T12:00:00Z', end='2023-06-01T12:30:00Z').df

In [9]:
minute_data = alpaca.get_bars('AAPL', timeframe="1Min", start='2023-06-01T12:00:00Z', end='2023-06-01T12:30:00Z').df

In [15]:
df

,conditions,id,price,size,exchange,tape
timestamp,,,,,,
2023-06-01 12:00:00.023700883+00:00,"[@, T, I]",1,177.7600,1,D,C
2023-06-01 12:00:00.033288239+00:00,"[@, T]",2,177.8403,2273,D,C
2023-06-01 12:00:00.039942148+00:00,"[@, T]",3,177.8111,200,D,C
2023-06-01 12:00:00.047837206+00:00,"[@, T]",4,177.8400,200,D,C
2023-06-01 12:00:00.048880992+00:00,"[@, T, I]",5,177.8991,30,D,C
...,...,...,...,...,...,...
2023-06-01 12:29:55.192833139+00:00,"[@, T, I]",2263,177.5800,6,P,C
2023-06-01 12:29:55.193467770+00:00,"[@, T, I]",2264,177.5800,4,P,C
2023-06-01 12:29:55.899499503+00:00,"[@, F, T, I]",2265,177.5800,3,P,C
2023-06-01 12:29:57.919900056+00:00,"[@, T, I]",1380,177.7100,1,D,C
2023-06-01 12:29:59.832808450+00:00,"[@, T, I]",1381,177.6350,1,D,C

In [16]:
minute_data

,close,high,low,trade_count,open,volume,vwap
timestamp,,,,,,,
2023-06-01 12:00:00+00:00,177.8000,178.1800,177.6900,527,177.8403,54884,177.894226
2023-06-01 12:01:00+00:00,177.7900,177.8800,177.0600,1103,177.7600,11915,177.680760
2023-06-01 12:02:00+00:00,177.4900,177.8400,177.4900,400,177.8300,3651,177.550169
2023-06-01 12:03:00+00:00,177.8300,177.8600,177.8300,85,177.8600,8902,177.844248
2023-06-01 12:04:00+00:00,177.8200,177.8500,177.8200,46,177.8300,3377,177.825279
2023-06-01 12:05:00+00:00,177.8100,177.8100,177.8000,35,177.8000,4988,177.799831
2023-06-01 12:06:00+00:00,177.8200,177.8200,177.8000,27,177.8000,948,177.808650
2023-06-01 12:07:00+00:00,177.8000,177.8000,177.7998,19,177.7998,1111,177.797667
2023-06-01 12:08:00+00:00,177.8194,177.8200,177.7600,30,177.7620,2837,177.789951
2023-06-01 12:09:00+00:00,177.7000,177.7700,177.7000,60,177.7700,2138,177.742592
2023-06-01 12:10:00+00:00,177.7000,177.7200,177.7000,61,177.7200,1891,177.691306
2023-06-01 12:11:00+00:00,177.6800,177.6800,177.6600,35,177.6600,715,177.690354
2023-06-01 12:12:00+00:00,177.7300,177.7300,177.7300,20,177.7300,772,177.729022
2023-06-01 12:13:00+00:00,177.7000,177.7500,177.7000,30,177.7000,896,177.710901
2023-06-01 12:14:00+00:00,177.7000,177.7000,177.7000,22,177.7000,1249,177.703699
2023-06-01 12:15:00+00:00,177.6000,177.6500,177.5700,100,177.6500,6796,177.620681
2023-06-01 12:16:00+00:00,177.6200,177.6200,177.5000,166,177.5500,10555,177.512743
2023-06-01 12:17:00+00:00,177.4600,177.4800,177.4100,96,177.4800,4212,177.460472
2023-06-01 12:19:00+00:00,177.5700,177.5700,177.5000,54,177.5700,5847,177.547151
2023-06-01 12:20:00+00:00,177.5400,177.5400,177.5000,61,177.5300,1353,177.543143
2023-06-01 12:22:00+00:00,177.5700,177.5800,177.5700,58,177.5700,2143,177.576776
2023-06-01 12:23:00+00:00,177.5807,177.6400,177.5800,41,177.5800,1367,177.597162
2023-06-01 12:24:00+00:00,177.6500,177.6500,177.6300,68,177.6400,2538,177.639904
2023-06-01 12:25:00+00:00,177.7000,177.7100,177.7000,39,177.7000,3297,177.701550
2023-06-01 12:26:00+00:00,177.7300,177.7600,177.7300,23,177.7600,15219,177.266246
2023-06-01 12:27:00+00:00,177.7100,177.7599,177.7100,24,177.7599,380,177.731943
2023-06-01 12:28:00+00:00,177.6600,177.7000,177.6600,41,177.7000,1769,177.602705
2023-06-01 12:29:00+00:00,177.5800,177.7000,177.5800,48,177.7000,2640,177.676432
2023-06-01 12:30:00+00:00,177.8000,177.8000,177.7000,65,177.7000,3203,177.767447